<div class="banner">
  <img src="..\assets\images\home.jpg" alt="" />
</div>
<div class="information">
  <span>FLASH NEWS</span>
  <div class="arrow">
    <div class="icon-snr-arrow-left-20"></div>
    <div class="icon-snr-arrow-right-20"></div>
  </div>
  <div class="buttonShangai">
    <button>
      Here just <br />
      hidden text
    </button>
    <h2>Shangai</h2>
  </div>
  <p>0.1.11.2018</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet excepturi,
    placeat repellendus,
  </p>
  <p>Soluta illum cumque quod explicabo distinctio praesentium.</p>

  <div class="bottom">
    <div class="icon-snr-document-20"></div>
    <button>Hidden</button>
    <span>Shangai</span>
  </div>
</div>

<div class="machinesPart">
    <div class="title">
        <h2>Customer machines</h2>
    </div>
    <div class="machines">
        <div class="machine">
            <img src="..\assets\images\BA 1008.PNG" alt="">
            <h1>BA 1008</h1>
            <p>180128</p>
            <h6>Almac machines</h6>
        </div>
        <div class="separator"></div>
        <div class="machine">
            <img src="..\assets\images\CT 20.PNG" alt="">
            <h1>CT 20</h1>
            <p>180177</p>
            <h6>Almac machines</h6>
        </div>
        <div class="separator"></div>
        <div class="machine">
            <img src="..\assets\images\DECO 20S.PNG" alt="">
            <h1>DECO 20S</h1>
            <p>180255</p>
            <h6>Almac machines</h6>
        </div>
    </div>
    <div class="buttonMachine">
        <button>MORE MACHINES</button>
    </div>
</div>
