<div class="banner">
  <img src="..\assets\images\home.jpg" alt="" />
</div>
<div class="information">
  <span>FLASH NEWS</span>
  <div class="arrow">
    <div class="icon-snr-arrow-left-20"></div>
    <div class="icon-snr-arrow-right-20"></div>
  </div>
  <div class="buttonShangai">
    <button>
      Here just <br />
      hidden text
    </button>
    <h2>Shangai</h2>
  </div>
  <p>0.1.11.2018</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet excepturi,
    placeat repellendus,
  </p>
  <p>Soluta illum cumque quod explicabo distinctio praesentium.</p>

  <div class="bottom">
    <div class="icon-snr-document-20"></div>
    <button>Hidden</button>
    <span>Shangai</span>
  </div>
</div>
