.banner img{
    width: 100%;
    height: 90vh;
    position: absolute;
    background-size: cover;
}

.information{
    position: relative;
    background-color: white;
    top: 40px;
    left: 3%;
    height: 58vh;
    width: 20%;
    border-radius: 0.2rem;
    padding: 3em 3em;
}

span{
    color: #8b8b8b;
    font-family: 'Roboto', sans-serif;
    font-size: .85em;
    font-weight: 550;
}

.arrow{
    display: flex;
    margin-top: 1em;
}

.arrow .icon-snr-arrow-left-20{
    opacity: 50%;
    color: #8b8b8b;
    font-size: 1.4em;
    margin-left: 0.1em;
}

.arrow .icon-snr-arrow-right-20{
     color: #8b8b8b;
     font-size: 1.4em;
     margin-left: 1.3em;
}

 .buttonShangai{
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.buttonShangai button{
    padding: 0.2em 1em;
    background-color: #c9c1c1;
    border: 0.1px solid black;
    cursor: pointer;
}

.buttonShangai h2{
    color: #3a535b;
    font-family: sans-serif;
    font-size: 1.4em;
    font-weight: 550;
}

p{
    color: #8b8b8b;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-bottom: 3em;
    margin-left: .4em;
}

.bottom{
    display: flex;
    margin-left: .4em;
    align-items: center;
}

.bottom .icon-snr-document-20{
    color: #8b8b8b;
    font-size: 1.4em;
    margin-right: 0.2em;
}

.bottom button{
    padding: 0.1em .4em;
    background-color: #c9c1c1;
    border: 0.1px solid black;
    cursor: pointer;
}

//Second part

.machinesPart{
    display: flex;
    flex-direction: column;
    margin: 15em 0 0 0;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.title h2{
    color: #3a535b;
    font-family: sans-serif;
    font-weight: 700;
}

.machines{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2em;
}

.machine{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.machine:hover{
    background-color: #d1cccc42;
}

.machine img{
    width: 23em;
    height: 15em;
    border-radius: 0.2rem;
}

.machine h1{
    color: #737373;
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: 600;
}

.machine p{
    font-size: .9em;
    margin-top: 1em;
    margin-left: 0.2em;
}

.machine h6{
    color: #737373;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 600;
    margin-top: -1.2em;
    color: #abaf93;
}

.separator{
   height: 20em;
   background-color: rgb(219, 216, 216);
   width: 1px;
}

.buttonMachine{
    display: flex;
    align-items: center;
    margin-top: 1em;
    justify-content: center;
    margin: 5em 1em;
}

.buttonMachine button{
    cursor: pointer;
    border-radius: 2rem;
    width: 13em;
    height: 3em;
    border-color: #3a535b ;
    color: #2b4953;
    font-family: sans-serif;
    font-weight: 500;
    background-color: white;
    transition: all 0.3s ease;
}

.buttonMachine button:hover{
    background-color: #3a535b;
    color: white;
}